@charset "utf-8";



main,nav,header,#jobb,#bal, footer,article {
    border: 2px solid grey;
}

main {

    display:grid;

    grid-template-areas:
        "h h h h "
        "b a a j "
        "f f f f ";
    padding:10px;
    
}



header {
    grid-area:h;
    margin:5px;

}



article {
    grid-area:a;
    background-color: deepskyblue;
    margin:5px;
   
}

#csonak {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



header h1 {
    text-align: center;
}




footer {
    grid-area:f;
    margin:5px;

}


#bal {
    grid-area:b;
    padding:10px;
    margin:5px;
    
    
    
}

#bal img {
    width:100px;
}


#jobb {
    grid-area:j;
    padding:10px;
    margin:5px;
}

footer p {
    background-color: dodgerblue;
    margin-block-start: 0em;
    margin-block-end: 0em;
}





